{%extends 'blog/base.html'%} 
{%block titleblock%}
About Project
{%endblock titleblock%}
{%block content%}

    <h1>Hello, I'm Nischal</h1>
    <hr>
    <p>I started working on this project after completing a Django basics lab in college because I wanted to further expand my knowledge in this area.</p>
    <p>Some things I learnt while building this project</p>
    <p>* Understanding the structure of the project</p>
    <p>* Difference between a Django <i>Project</i> and a Django <i>App</i></p>
    <p>* Routing and the purpose of trailing slash,
        <a href="https://docs.djangoproject.com/en/dev/misc/design-philosophies/">Here</a>
    </p>
    <p>* Rendering templates and using Template Inheritence to avoid code repetition</p>
    <p>* Understanding how the Admin page works </p>
    <p>* Understanding the analogy between a <i>Model</i> and a Relational Database <i>Table</i></p>
    <p>* Understanding what an ORM is and why is it useful</p>
    <p>* Difference between <i>makemigrations</i> and <i>migrate</i> commands</p>
    <p>* Creating a Registration and Login System</p>
    <p>* Creating a Profile Model for each User</p>
    <p>* Implementing basic CRUD functionality</p>
{%endblock%}
