{% extends 'blog/base.html' %}

{%block titleblock%}
Post Details
{%endblock titleblock%}
{%block content%} 
    {% if object.author == user %}
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="#">{{ object.author }}</a>
                <small class="text-muted">{{ object.date_objected | date:'F d, Y - P' }}</small>
            </div>
            <h2 class="article-title">{{ object.title }}</h2>
            <p class="article-content">{{ object.content }}</p>
            <a href="{% url 'post-update' post.id %}" class="btn btn-outline-secondary">Update</a>
            <a href="{% url 'post-delete' post.id %}" class="btn btn-outline-secondary">Delete</a>
        </div>
    </article>
    {%endif%}

{%endblock%}